nba_update.log 
credentials.json
tabletennis/data/tt_elite_matchlogs.csv
tabletennis/data/tt_czech_matchlogs.csv
tabletennis/data/tt_czech2023_matchlogs.csv
tabletennis/data/tt_setka_matchlogs.csv
tabletennis/data/tt_cup_matchlogs.csv
tabletennis/data/tt_elite_h2h_summary.csv
tabletennis/data/tt_czech_h2h_summary.csv
tabletennis/data/tt_setka_h2h_summary.csv
tabletennis/data/tt_cup_h2h_summary.csv
tabletennis/data/tt_elite_schedule.csv
tabletennis/data/tt_czech_schedule.csv
tabletennis/data/tt_setka_schedule.csv
tabletennis/data/tt_cup_schedule.csv
tabletennis/data/tt_all_schedule.csv
tabletennis/data/tt_all_h2h_index.pkl.gz
tabletennis/data/tt_all_h2h_index.pkl
tabletennis/data/tt_all_schedule.pkl
tabletennis/data/tt_elite_h2h_index.pkl.gz
tabletennis/data/tt_czech_h2h_index.pkl.gz
tabletennis/data/tt_setka_h2h_index.pkl.gz
tabletennis/data/tt_cup_h2h_index.pkl.gz
buildallleagues.py
upload_tt_all_to_supabase.py
upload_tt_leagues_to_supabase.py
.env
.streamlit/secrets.toml